<div class="generic-filters">
  @for (filter of activeFilters(); track filter.key) {
    <app-active-filter-chip [filter]="filter" (removed)="onChipRemoved(filter.key)" />
  }

  <div class="generic-filters__trigger" cdkOverlayOrigin #triggerOrigin="cdkOverlayOrigin">
    <app-filter-trigger-button [activeCount]="activeCount()" (clicked)="onTriggerClick()" />
  </div>

  @if (showClearButton() && hasActiveFilters()) {
    <button type="button" class="generic-filters__clear unstyled" (click)="onClearFilters()">
      {{ labels.clearAll }}
    </button>
  }
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="triggerOrigin"
  [cdkConnectedOverlayOpen]="popoverOpen()"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="onOverlayBackdropClick()"
  (detach)="onOverlayBackdropClick()"
>
  <app-filter-form-panel
    [configs]="filterConfigs"
    [initialValues]="currentValueMap()"
    (valuesSubmitted)="onFormSubmitted($event)"
  />
</ng-template>
