<div class="dialog-container">

  <h2 mat-dialog-title class="dialog-title">
    <mat-icon>inventory_2</mat-icon>
    {{ producto ? 'Editar Producto' : 'Gestionar Productos' }}
  </h2>

  <mat-dialog-content class="dialog-content">
    <div class="dialog-body">
      @if (saving()) {
        <div class="saving-overlay">
          <mat-spinner diameter="32" />
        </div>
      }
      <app-producto-editor [producto]="producto" [preciosBloqueados]="preciosBloqueados"
        (addProducto)="onAdd($event)" (saveProducto)="onSave($event)" (cancel)="onClose()" />
    </div>
  </mat-dialog-content>

</div>