<mat-sidenav-container class="cajas-sidenav-container">
  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="cajas-page">
      <app-button-tabs
        [tabs]="tabs"
        [activeTab]="activeTab()"
        (tabChange)="onTabChange($event)"
      />

      @switch (activeTab()) {
        @case ('grupo') {
          <app-caja-grupo />
        }
        @case ('rama') {
          <app-fondos-rama />
        }
        @case ('personal') {
          <app-cuentas-personales />
        }
      }
    </div>
  </mat-sidenav-content>

  <!-- Drawer -->
  <mat-sidenav
    #drawer
    mode="over"
    position="end"
    [opened]="drawerOpen()"
    (closed)="onDrawerClosed()"
    class="caja-sidenav"
  >
    <app-caja-drawer
      (close)="onDrawerClosed()"
      (registrarMovimiento)="onRegistrarMovimiento()"
      (verTodosMovimientos)="onVerTodosMovimientos()"
    />
  </mat-sidenav>
</mat-sidenav-container>
