<div class="cajas-page">
  <div class="cajas-tabs-container">
    <div class="cajas-tabs-container-header">
      <app-button-tabs [tabs]="tabs" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />
    </div>

    <div class="tab-content">
      @switch (activeTab()) {
      @case ('grupo') {
      <app-caja-grupo />
      }
      @case ('rama') {
      <app-fondos-rama />
      }
      @case ('personal') {
      <app-cuentas-personales />
      }
      }
    </div>
  </div>
</div>

<!-- Drawer -->
<mat-sidenav #drawer mode="over" position="end" [opened]="drawerOpen()" (closed)="onDrawerClosed()"
  class="caja-sidenav">
  <app-caja-drawer (close)="onDrawerClosed()" (registrarMovimiento)="onRegistrarMovimiento()"
    (verTodosMovimientos)="onVerTodosMovimientos()" />