<div class="dialog-container">

  <h2 mat-dialog-title class="dialog-title">
    <mat-icon>receipt_long</mat-icon>
    Registrar Gasto
  </h2>

  <mat-dialog-content class="dialog-content">
    @if (saving()) {
      <div class="dialog-saving">
        <mat-spinner diameter="40" />
        <p class="dialog-saving__text">Guardando gasto...</p>
      </div>
    } @else {
      <app-gasto-campamento-form
        [responsables]="data.responsables"
        [personasParaReembolsar]="data.responsables"
        (formSubmit)="onFormSubmit($event)"
        (cancel)="onCancel()"
      />
    }
  </mat-dialog-content>

</div>
