<form [formGroup]="filterForm" class="filters-form">
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput formControlName="search" placeholder="Nombre o cargo">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rama</mat-label>
    <mat-select formControlName="rama">
      <mat-option [value]="null">Todas</mat-option>
      @for (rama of ramas; track rama) {
        <mat-option [value]="rama">{{ rama }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
